<%= form_with(model: [:admin, badge], local: true) do |form| %>
  <%= render 'shared/errors', resource: badge %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :image_path %>
    <%= form.text_field :image_path, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rule %>
    <%= form.collection_radio_buttons(:rule, Badge::Rule.all, :id, :label) do |rb| %>
      <div class="form-check">
        <%= rb.radio_button(class: "form-check-input") %>
        <%= rb.label(class: "form-check-label") %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :value %>
    <%= form.text_field :value, class: 'form-control' %>
  </div>

  <%= form.submit class: 'btn btn-primary' %>
<% end %>
