<p id="notice"><%= notice %></p>

<h1><%= t('.badges') %></h1>

<table class="table">
  <thead>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.badge') %></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>
  </thead>

  <tbody>
  <% @badges.each do |badge| %>
    <tr>
      <td><%= badge.title %></td>
      <td><%= image_tag "badges/#{badge.image}.svg", width: "50" %></td>
      <td><%= link_to t('.show'), admin_badge_path(badge) %></td>
      <td><%= link_to t('.edit'), edit_admin_badge_path(badge) %></td>
      <td><%= link_to t('.delete'), admin_badge_path(badge), method: :delete, data: { confirm: t('.sure') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>



<br><%= link_to t('.new_badge'), new_admin_badge_path %></br>
<%= link_to t('.back'), admin_tests_path %>