<h1><%= t('.header') %></h1>

<table class="table table-striped table-borderless">
  <thead>
  <tr>
    <th scope="col"><%= t('.title') %></th>
    <th scope="col"><%= t('.image') %></th>
    <th scope="col"><%= t('.rule') %></th>
    <th scope="col" colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <%= render @badges %>
  </tbody>
</table>

<%= link_to t('.new'), new_admin_badge_path, class: 'btn btn-primary' %>
