<%= form_with model: @user, local: true do |form| %>
  <%= render 'shared/errors', resource: @user %>

  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name, id: :user_name %>

  <p>
    <%= form.label :email %><br>
    <%= form.text_field :email, id: :user_email %>
  </p>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password, id: :user_password %>
  </p>

  <p>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :user_password_confirmation %>
  </p>

  <p><%= form.submit %></p>
  <% end %>
