<h1>Passing the <%= @test_passage.test.title %> Test</h1>

<h3> Question  <%= @test_passage.question_number%> /
  <%= @test_passage.test.questions.count %> </h3>

<p>
  <%= @test_passage.current_question.body %>
</p>
<% if @test_passage.test.time_limited? %>
  <div class="text-center">
    <%= t('.timer') + ': ' %>
    <%= content_tag :span,
                    (@test_passage.time_left),
                    class: 'timer',
                    data: { time_left: @test_passage.time_left} %>
  </div>
<% end %>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
  <p>
    <%= b.check_box id: "answer_ids_#{b.object.id}" %>
    <%= b.label %>
  </p>
  <% end %>

<div class="progress">
  <%= tag.div class: "progress-bar", id: 'test-progress',
              data: { question_number: @test_passage.question_number,
                      question_count: @test_passage.test.questions.count } %>
</div>

  <p><%= link_to 'Gist Question', gist_path(@test_passage), method: :post %></p>
  <p><%= form.submit 'Next' %></p>
<% end %>
