<header class="header-container">
  <div class="col-8">
    <h1><%= link_to 'Test-Guru', root_path %></h1>
  </div>
  <div class="col-4">
    <% if user_signed_in? %>
      <% if current_user.is_a?(Admin) %>
        <%= link_to t('.adminpanel'), admin_tests_path %>
      <% end %>
      <p class="nav user">
      <b><%= t('.welcome', user: current_user.email) %></b>
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete  %>
    <% else %>
    <%= link_to t('.signup'), new_user_registration_path %>
    <%= link_to t('.login'), new_user_session_path %>
   <% end %>
  </div>
</header>
