<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.count %></td>
  <td><%= link_to t('.show_button'), admin_test_path(test) %></td>
  <td><%= link_to t('.edit_button'), edit_admin_test_path(test) %></td>
  <td>
    <%= link_to t('.delete_button'),
        admin_test_path(test),
        method: :delete,
        data: { confirm:'Are you sure' } %>
  </td>
</tr>
