<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.count %></td>
  <td><%= button_to t('.start_button'), start_test_path(test), class: 'btn btn-primary' %></td>
  <td><%= link_to t('.show_button'), admin_test_path(test), class: 'btn btn-secondary' %></td>
  <td><%= link_to t('.edit_button'), edit_admin_test_path(test),class: 'btn btn-info' %></td>
  <td>
  <td class="align-middle">
    <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <%= render 'form_inline', test: test == @test ? @test : test %>
  </td>
  <td class="align-middle"><%= test.level %></td>
  <td class="align-middle"><%= test.questions.count %></td>
  <td class="align-middle"><%= link_to t('.start_button'), start_test_path(test), method: :post, class: 'btn btn-primary' %></td>
  <td class="align-middle"><%= link_to t('.show_button'), admin_test_path(test), class: 'btn btn-secondary' %></td>
  <td class="align-middle">
    <%= link_to t('.edit_button'),
                    edit_admin_test_path(test),
                    data: { test_id: test.id },
                    class: 'form-inline-link' %>
  </td>
  <td class="align-middle">
    <%= link_to t('.delete_button'),
        admin_test_path(test),
        method: :delete,
        data: { confirm:'Are you sure' }, class: 'btn btn-danger' %>
  </td>
</tr>
