<table class="table table-hover">
  <thead>
    <p>
      <strong><%= t('.title') %></strong>
      <%= @test.title %>
    </p>

    <p>
      <strong><%= t('.level') %></strong>
      <%= @test.level %>
    </p>

    <p>
      <strong><%= t('.author') %></strong>
      <%= @test.author.email %>
    </p>
  </thead>
  <tbody>
    <%= render @test.questions %>
  </tbody>
</table>
<%= link_to t('.back'), admin_tests_path, class: 'btn btn-secondary' %>
<%= link_to t('.new_question'), new_admin_test_question_path(@test), class: 'btn btn-primary' %>
