<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.count %></td>
  <td><%= button_to t('.start'), start_test_path(test) %></td>
</tr>
