<tr>
  <td><%= test.title %></td>
  <td><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= test.questions.count %></td>
  <td><%= button_to t('.start_button'), start_test_path(test), class: 'btn btn-primary' %></td>
