<h1><%= t('.header') %></h1>

<table>
  <tr>
    <th><%=t('.title')%></th>
    <th><%=t('.level')%></th>
    <th><%=t('.category')%></th>
    <th><%=t('.queston_count')%></th>
    <th colspan="3"><%= t('.actions') %></th>
  </tr>
  

  <%= render @tests %>
</table>
