
<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<%= render @test.questions %>

<%= link_to 'Back', tests_path %>

<%= link_to 'New question', new_test_question_path(@test) %>
